html, body {
    margin: 0;
    height: 100%;
}

.page{
  margin:auto;
  width:auto;
	padding:0;
	text-align:left;
	background:#fff;
  font-family:sans-serif;
}

.header{
  width:100%;
  margin:auto;
}

.header a{
  text-decoration:none;
  color: #ccc;

}

#here{
  text-decoration:none;
  color: #000;
}

.header a:hover{

  color: #000;

}

.title{
  float: left;
  width: 45%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: white;
  border-bottom-color: #ccc;

}
.title p{
  margin-left:10px;


}

.pages{
  float: left;
  margin-left: -2px;
  width:  55%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align:center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;


  background-color: white;

}


.content #Landing{
  object-fit: cover;
}

.musicTable {
  float:left;
  margin-left:10%;
  width:80%;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  text-align:center;

}

a{
  text-decoration-color: #ccc;
  color:#ccc;
}

.container{
  text-align:center;
  margin-left: 10%;
  width:80%;

}

#infobox{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  border-bottom-style: dashed;
  border-bottom-width: 1px;

}

#blogbox{
  text-align: left;
  text-indent: 10%;
  margin-left: 10%;
  width:80%;
}

#gallery{

  display:grid;
  grid-template-columns:1fr 1fr 1fr;

}
#gallery img{

  margin-bottom: 20%;

}

@media screen and (max-width: 700px) {
  .title, .pages {
    width: 100%; /* The width is 100%, when the viewport is 700px or smaller */
  }


  .title{
    text-align:center;
    border-bottom-style: dashed;
    border-bottom-color: #ccc;
  }

  .musicTable {
    display:grid;
    grid-template-columns:1fr 1fr;
  }

  #blogbox{

    margin-left: 0%;
    width:100%;
  }

  


}
